<% layout('/layout/page') -%>
<% block('title').append('Authorisation') %>
<% block('style').append('<link type="stylesheet" href="style.css">') %>
<% block('Header').append('Welcome to Authorisation') %>
<% block('sectionTitle').append('Authorise') %>
<% block('footer').append('Bye') %>

<p class="lead"> Всем Привет! </p>