<% layout('/layout/page') -%>
<% block('title').append('Authorisation') %>
<% block('style').append('<link type="text/css" rel="stylesheet" href="authPage/style.css">') %>
<% block('script').append('<script src="authPage/auth.js"></script>') %>

<div class="login">
  <div>LOGIN</div>
  <div><input id="email" type="text" name="email" ></div>
  <div>PASSWORD</div>
  <div><input id="password" type="text" name="pass"></div>
  <button id="submit">login</button>
  <p class=""></p>
  <div id="error"></div>
</div>