<% layout('/layout/page') -%>
<% block('title').append('Search') %>
<% block('script').append('<script src="api/v1/myFriendsPage/myFriends.js"></script>') %>

<div class="friends__container">
    <ul class="friends__container_list" id="friends__list"></ul>
</div>