<% layout('/layout/page') -%>
<% block('title').append('Search') %>
<% block('script').append('<script src="api/v1/newsPage/news.js"></script>') %>

<div class="news__container">
    <ul class="news__container_list" id="news__list"></ul>
</div>