.login {
    height: calc(90% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login div {
    margin: 4px;
}
#error {
    color: red;
    margin: 0;
}
button {
    margin: 10px;
    width: 30%;
}