<nav class="container menu">
    <ul class="menu__list">
        <% if (!user) { %>
        <li class="menu__list_item home">
            <a href="/home" class="menu__list_item-link"> Home </a>
        </li>
        <li class="menu__list_item signIn">
            <a href="/sign-in" class="menu__list_item-link"> Sign In </a>
        </li>
        <li class="menu__list_item signUP">
            <a href="/sign-up" class="menu__list_item-link"> Sign Up </a>
        </li>
        <% } else {%>
        <li class="menu__list_item myPage">
            <a href="/my-page" class="menu__list_item-link"> My Page </a>
        </li>
        <li class="menu__list_item news">
            <a href="/news" class="menu__list_item-link"> News </a>
        </li>
        <li class="menu__list_item myFriends">
            <a href="/friends" class="menu__list_item-link"> My Friends </a>
        </li>
        <li class="menu__list_item chat">
            <a href="/chat" class="menu__list_item-link">Chat</a>
        </li>
        <li class="menu__list_item logOut">
            <a href="" class="menu__list_item-link" id="logOut"> Log Out </a>
        </li>
        <% } %>
    </ul>
</nav>