<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%=block('title').toString()%></title>
        <link type="text/css" rel="stylesheet" href="/api/v1/layoutPage/css/main.css">
        <script src="/api/v1/layoutPage/vendor/bower_components/axios/dist/axios.js"></script>
        <script src="/api/v1/layoutPage/js/config.js"></script>
        <script src="/api/v1/layoutPage/js/api.js"></script>
        <script src="/api/v1/layoutPage/js/logOut.js"></script>
        <script src="api/v1/layoutPage/js/user.js"></script>
        <script src="/api/v1/searchPage/search.js"></script>
        <%-block('script').toString()%>
        <script src="/api/v1/layoutPage/js/app.js"></script>
        <%-block('style').toString() %>
    </head>
    <body>
        <div class="wrapper">
            <div class="content">
                <header class="header">
                        <% include ../partials/header %>
                </header>
                <article class="section">
                        <% include ../partials/nav %>
                    <div class="container">
                        <div class="main">
                            <%-body -%>
                        </div>
                    </div>
                </article>
            </div>
            <footer class="footer container">
                    <% include ../partials/footer %>
            </footer>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function(){
                App.run();
            });
        </script>
    </body>
</html>